@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

:root {
    --navbar-height: 6rem;
    --mobile-navbar-height: 4rem;
    --root-font-size: 10px;
    --light-bg-color: #f4f4f4;
    --dark-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.jump-target:before { 
    display: block; 
    content: ""; 
    margin-top: calc(-1 * var(--navbar-height));
    height: var(--navbar-height);
}

body {
    font-size: var(--root-font-size);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.2rem;
}

section {
    margin-bottom: 3rem;
}

a {
    text-decoration: none;
    color: #8dc63f;
}

a:hover {
    color: #71a032;
}

p {
    padding: 0.75rem 0;
    font-size: 1.1rem;
}

ul {
    list-style: none;
}

/* NAVIGATION BAR */
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: var(--navbar-height);
    background: var(--light-bg-color);
    padding: 1rem;
}

nav #brand {
    display: flex;
    align-items: center;
}

nav #brand img {
    max-width: 5rem;
    max-height: 5rem;
}

nav #brand h1 {
    font-family: Courgette, sans-serif;
    font-size: 2rem;
    padding: 0.75rem 0.75rem;
    color: var(--dark-color);
}

nav ul {
    display: flex;
}

nav ul li a {
    font-size: 1rem;
    padding: 0.75rem;
    margin: 0 0.25rem;
    color: var(--dark-color);
}

nav ul li a:hover {
    background: #dbdbdb;
    color: var(--dark-color);
    border-radius: 0.25rem;
}

/* SHOWCASE */
#showcase {
    background: var(--light-bg-color) url(../img/sunflower-showcase-optimized.jpg) no-repeat center center/cover;
    height: calc(100vh - var(--navbar-height));
    position: relative;
}

.showcase-content {
    height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;

    /* Overlay */
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

/* SERVICES */
.service-group {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.box {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    max-width: 48%;
    background: #f3f3f3;
}

.service-image {
    min-width: 100%;
    height: 22rem;
}

.service-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
    flex-grow: 1;
}

.service-group a.btn, .service-group .price {
    justify-self: flex-end;
}

#reiki-service .service-image {
    background: #333 url(../img/service-reiki-optimized.jpg) center center/cover;
}

#counselling-service .service-image {
    background: #333 url(../img/service-counselling-optimized.jpg) center center/cover;
}

/* CONTACT */
section#contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#contact .container p {
    text-align: center;
}

form {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    align-items: stretch;
}

.form-wrap {
    min-width: 100%;
    padding: 1rem 1.5rem;
    background: var(--light-bg-color);
}

.form-group {
    margin-top: 1.2rem;
}

.form-wrap .form-group label {
    display: block;
    font-size: 1rem;
    color: var(--dark-color);
}

.form-group input:not([type='submit']), .form-group textarea {
    min-width: 100%;
    padding: 1rem;
    border: #ddd 1px solid;
    border-radius: 0.5rem;;
    font-size: 1.1rem;
}

form .form-group:last-of-type {
    align-self: center;
}

/* FOOTER */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-box {
    font-size: 1rem;
    padding: 1rem;
}

#footer-certifications img {
    max-width: 11rem;
    padding: 1rem;
}

footer #footer-copyright {
    background: var(--light-bg-color);
    min-width: 100%;
    text-align: center;
    margin-top: 2rem;
}

/* UTILITIES */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
}

.l-heading {
    font-size: 4rem;
    text-align: center;
    padding: 1.5rem 0;
}

.m-heading {
    font-size:2.5rem;
    text-align: center;
    padding: 1.5rem 0;
}

.s-heading {
    font-size: 1.2rem;
    padding: 1.5rem 0;
}

.btn {
    display: block;
    background: #ffbf00;
    padding: 0.2rem 1.5rem;
    margin: 0.75rem 0;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    color: var(--dark-color);
    line-height: inherit;
}

.btn:hover {
    background: #e5ab00;
    color: var(--dark-color);
}