/* NAVIGATION BAR */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: $navbar-height;
  background: $light-bg-color;
  padding: 1rem;
}

nav #brand {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav #brand picture img {
  max-width: 4rem;
  max-height: 4rem;
}

nav #brand picture {
  display: flex;
}

nav #brand h1 {
  font-family: Courgette, sans-serif;
  font-size: 2rem;
  padding: 0.75rem 0.75rem;
  color: $dark-color;
}

nav ul {
  display: flex;
}

nav ul li a {
  font-size: 1rem;
  padding: 0.75rem;
  margin: 0 0.25rem;
  color: $dark-color;
}

nav ul li a:hover {
  background: #dbdbdb;
  color: $dark-color;
  border-radius: 0.25rem;
}
