@import './_variables.scss';

@media screen and (max-width: 500px) {
  .jump-target:before {
    display: block;
    content: '';
    margin-top: calc(-1 * #{$mobile-navbar-height});
    height: $mobile-navbar-height;
  }

  body {
    line-height: 2rem;
  }

  section {
    margin-bottom: 1.1rem;
  }

  nav {
    min-height: $mobile-navbar-height;
    padding: 0.5rem;

    #brand {
      align-self: flex-start;

      h1 {
        font-size: 1.2rem;
      }

      picture img {
        max-width: 3rem;
        max-height: 3rem;
      }
    }

    li {
      a {
        font-size: 0.8rem;
      }
    }
  }

  #showcase {
    height: calc(100vh - #{$mobile-navbar-height});
  }

  /* These sections look cleaner without padding on mobile */
  #therapies .container,
  #contact .container {
    padding: 0;

    .l-heading,
    .m-heading,
    .s-heading {
      padding: 0 1rem;
    }
  }

  .therapy-group {
    flex-direction: column;
    align-items: center;
  }

  .therapy-image {
    min-height: 15rem;
  }

  .box {
    max-width: 100%;
    margin-bottom: 1.5rem;
  }

  footer {
    flex-direction: column;
  }

  .footer-box {
    text-align: center;
  }

  .container {
    min-width: 300px;
    max-width: 100%;
  }

  .l-heading {
    font-size: 2.1rem;
    padding: 0.75rem 0rem;
  }

  .m-heading {
    font-size: 1.7rem;
    padding: 0.75rem 0rem;
  }

  .s-heading {
    font-size: 1.2rem;
    padding: 0.75rem 0rem;
  }
}
